<div class="left-bar">
    <img class="logo-img" src="./assets/img/logo.png" alt="logo">
    <div class="left-bar-text">
        <div class="header">
            <img class="home" src="./assets/img/home.png" alt="">
            <h2>My Page</h2>    
        </div>
        
        <div class="header">
            <img class="home" src="./assets/img/speech-bubble.png" alt="">
            <h2>Chat</h2>
        </div>

        <div class="header">
            <h2 class="search">Search:</h2>
            <label class="label" for="">
                <input type="text">
            </label>
        </div>   
    </div>
    <div class="people">
        <div class="header link">
            <img class="person-img" src="./assets/img/avatar1.jpg" alt="">
            <strong>Arnold Schwarzenegger</strong>
        </div>

        <div class="header link pt">
            <img class="person-img" src="./assets/img/avatar2.jpg" alt="">
            <strong>Sylvester Stallone</strong>
        </div>
        <div class="header link pt">
            <img class="person-img" src="./assets/img/avatar3.jpg" alt="">
            <strong>Ronnie Coleman</strong>
        </div>
    </div> 
</div>

<div class="profile-card">
    <div class="avatar-name">
        <img src="./assets/img/avatar.png" alt="avatar" class="profile-card-avatar">
        <div class="profile-card__name">
            <strong class="h6">Ryan Gosling</strong>
            <span class="subtitle">ryan.gosling</span>
        </div>
    </div>
    <div class="profile-card__diskription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptates odit ipsum, architecto voluptate consectetur. Veritatis magni maxime et obcaecati in pariatur, placeat officiis ullam possimus, dicta nam, animi molestiae.
    </div>
    <div class="profile-card__tags">
        <div class="skill-tag">Angular</div>
        <div class="skill-tag">HTML</div>
        <div class="skill-tag">CSS</div>
        <div class="skill-tag">REST</div> 
    </div>

    <div class="profile-card__action-btns">
        <button class="btn">Subscribe</button>
    </div> 
        
    
</div>
<div class="profile-card pad">
    <div class="avatar-name">
        <img src="./assets/img/avatar4.jpg" alt="avatar" class="profile-card-avatar">
        <div class="profile-card__name">
            <strong class="h6">Johnny Depp</strong>
            <span class="subtitle">johnn.depp</span>
        </div>
    </div>
    <div class="profile-card__diskription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptates odit ipsum, architecto voluptate consectetur. Veritatis magni maxime et obcaecati in pariatur, placeat officiis ullam possimus, dicta nam, animi molestiae.
    </div>
    <div class="profile-card__tags">
       
        <div class="skill-tag">JAVA</div>
        <div class="skill-tag">Angular</div>
        <div class="skill-tag">NEXT</div> 
        <div class="skill-tag">REST</div>
      
    </div>

    <div class="profile-card__action-btns">
        <button class="btn">Subscribe</button>
    </div> 
        
    
</div>
<div class="profile-card pad">
    <div class="avatar-name">
        <img src="./assets/img/avatar5.jpg" alt="avatar" class="profile-card-avatar">
        <div class="profile-card__name">
            <strong class="h6">Amber Heard</strong>
            <span class="subtitle">amber.heard</span>
        </div>
    </div>
    <div class="profile-card__diskription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum voluptates odit ipsum, architecto voluptate consectetur. Veritatis magni maxime et obcaecati in pariatur, placeat officiis ullam possimus, dicta nam, animi molestiae.
    </div>
    <div class="profile-card__tags">
        <div class="skill-tag">NEXT</div> 
        <div class="skill-tag">HTML</div>
        <div class="skill-tag">CSS</div>
        <div class="skill-tag">Angular</div>
   
    </div>

    <div class="profile-card__action-btns">
        <button class="btn">Subscribe</button>
    </div> 
        
    
</div>

